@use "sass:math";
@use '../../../styles/settings/settings' as *;
@use '../../../styles/variables/variables' as *;
@use '../../../styles/abstracts/input-mixins' as *;

.button {
  @include adaptiveValue('padding-block', 16, 10);
  @include adaptiveValue('padding-inline', 30, 15);
  color: $card;
  border-radius: toRem(10);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  &--primary {
    background-color: $primary-green;

    @include mouse {
      &:hover {
        background-color: #135735;
      }
    }

    @include touch {
      background-color: red;
    }

    @include keyboard {
      &:focus-visible {
        outline: toRem(2) solid #68717C;
        outline-offset: toRem(2);
      }
    }
  }

  &--secondary {
    background-color: $primary-blue;

    @include hover {
      background-color: #20638d;
    }
  }

  &--danger {
    background-color: $error-red;

    &:hover {
      background-color: #b12828;
    }
  }
}