@use '../../styles/settings/settings' as *;
@use '../../styles/variables/variables' as *;

.main-dashboard {
  background-color: $bg;
  @include adaptiveValue('padding-block', 20, 10);
  border-radius: toRem(10);
  border: toRem(1) solid $border;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue('gap', 30, 15);
  min-height: toRem(500);

  &__text {
    flex-grow: 1;
    @include adaptiveValue('font-size', 26, 20);
    color: $secondary;
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(20);
  }
}